<!-- Announcement banner -->
<div class="md-banner" data-md-banner>
  <div class="md-banner__inner md-typeset">
    <span class="twemoji">{% include ".icons/octicons/star-fill-24.svg" %}</span>
    AWS Certifications Wiki v1.0 has been updated with new resources, improved navigation, and community-maintained guides.
    <button class="md-banner__button" data-md-banner-close aria-label="Close announcement">
      <span class="twemoji">{% include ".icons/octicons/x-24.svg" %}</span>
    </button>
  </div>
</div>
